@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-surface text-on-surface antialiased;
}

.mesh-gradient {
    background-color: #f8f9ff;
    background-image:
        radial-gradient(at 0% 0%, rgba(0, 74, 198, 0.05) 0px, transparent 50%),
        radial-gradient(at 100% 0%, rgba(113, 42, 226, 0.05) 0px, transparent 50%);
}

.slider-peer::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background: #712ae2;
    cursor: pointer;
    border-radius: 9999px;
    border: 2px solid white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.slider-peer::-moz-range-thumb {
    width: 24px;
    height: 24px;
    background: #712ae2;
    cursor: pointer;
    border-radius: 9999px;
    border: 2px solid white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
